html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    margin-top: 15px;
}

/*evntos*/
.fc-event {
    background-color: #0a5483;
    color: #fff;
    border-radius: 5px;
}
    .fc-event:hover {
        background-color: #488bb5;  
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
        cursor: pointer; 
    }
.fc-day{
    background-color: #ffffff !important;
    color: #000 !important;
}

