
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

img {
    width: 150px;
    height: auto;
}

.title {
    margin-top: 5px;
}
ul.category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.category-list li {
    display: block;
    margin: 10px;
}
.custom-input {
    flex-grow: 1;
    width: auto;
}
