
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
h4 {
    font-size: 27px;
    color: #0a5483;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: -2px;
}

.custom-card {
    font-size: 16px;
    color: #1e7fbd; 
    font-weight: 500; /* Negrita */
    text-transform: uppercase; /* Mayúsculas */
    margin-bottom: 0.5rem; /* Margen inferior */
}
.custom-cardRed {
    font-size: 16px;
    color: #cb3333;
    font-weight: 500; /* Negrita */
    text-transform: uppercase; /* Mayúsculas */
    margin-bottom: 0.5rem; /* Margen inferior */
}
.custom-cardGreen {
    font-size: 16px;
    color: #2cae63;
    font-weight: 500; /* Negrita */
    text-transform: uppercase; /* Mayúsculas */
    margin-bottom: 0.5rem; /* Margen inferior */
}