
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
h6 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.card-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0a5483;
    color: #fff;
}

/* Alinear el contenido del DataTable al centro */
#tabla {
    text-align: center;
}
    #tabla td {
        font-size: 15px;
        text-align: center;
        vertical-align: middle; 
    }

/*BOTONES EDITAR Y ELIMINAR*/
.btn-editar, .btn-recogida, .btn-devolver {
    background-color: #0a5483;
    color: #fff; 
}

.btn-eliminar {
    background-color: #c83131; 
    color: #fff; 
}
    .btn-editar:not(:last-child),
    .btn-eliminar:not(:last-child) {
        margin-right: 7px;
    }

/* Estilo para el botón "Crear Nuevo" */
.btn-guardar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #fff; 
    color: #0a5483; 
    border: 2px solid #0a5483;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

    /* Estilo para el botón "Crear Nuevo" al pasar el cursor por encima */
    .btn-guardar:hover {
        background-color: #0a5483; 
        color: #fff; 
        border-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

/*COLORES TOGGLE*/
input[type="radio"] {
    display: none;
}
    input[type="radio"]:checked + .btn {
        color: #fff;
        background: #0a5483 !important;
    }

    input[type="radio"]:hover + .btn {
        color: #fff;
        background-color: #338ac2;
    }


