@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.tituloDescripcion #Titulo {
    font-size: 21px;
    font-weight: 800;
    font-family: 'Merriweather', serif;
}
.tituloDescripcion #Autor {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    font-family: 'Merriweather', serif;
}



.ficha-tecnica {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .ficha-tecnica .col-md-2 {
        margin-bottom: 20px;
    }
    .ficha-tecnica .info-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
    }

    .ficha-tecnica .info-value {
        color: #6A1BBF;
    }

.title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    }
/*MOSTRAR MÁS*/
.purple-link {
    color: #8A2BE2; 
    text-decoration: none;
    transition: color 0.3s;
}

    .purple-link:hover {
        color: #6A1BBF;
        text-decoration: underline;
    }

#FotoLibro {
    width: 220px;
    height: 320px;
    margin-right: 10px;
}

#FotoAutor {
    width: 160px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*RESEÑAS ESTRELLAS*/

.rating {
    display: inline-block;
    direction: rtl; /* right to left */
    unicode-bidi: bidi-override; /* bidi de bidireccional */
}

    .rating input {
        display: none;
    }

    .rating label {
        color: #ddd;
        font-size: 24px;
        cursor: pointer;
    }

        .rating label:before {
            content: "\f005";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            opacity: 0.3;
        }

    .rating input:checked ~ label:before,
    .rating input:hover ~ label:before {
        opacity: 1;
        color: gold;
    }

    .rating input:checked ~ label:hover ~ label:before,
    .rating label:hover:before {
        opacity: 0.3;
        color: #ddd;
    }

/*RESEÑAS*/
.reseña {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

    .reseña .lector {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .reseña .lector img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            margin-bottom: 5px;
        }

    .reseña .contenido {
        flex-grow: 1;
    }

    .reseña .descripcion {
        margin-bottom: 5px;
    }

    .reseña .puntuacion {
        color: gold;
        margin-bottom: 5px;
    }

    .reseña .fecha {
        font-size: 12px;
        color: #888;
    }
.boton-reseña {
    display: none;
    margin-top: 40px; 
    margin-bottom: 10px; 
}

/*TOTAL DE RESEÑAS*/
.infoReseñas {
    border-radius: 5px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
    .infoReseñas #media-reseñas {
        font-family: 'Poppins', serif;
        font-size: 55px;
        font-weight: 200;
    }

    .infoReseñas #estrellas-media {
        opacity: 1;
        color: gold;
    }
 #num-reseñas {
        font-family: 'Roboto', serif;
        font-size: 14px;
    }

/*BOTONES*/

.btn-prestamo {
    display: block;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #2f8b56;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .btn-prestamo:hover {
        background-color: #4eac6a;
    }
.btn-reseña {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #ed9921;
    color: #fff;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .btn-reseña:hover {
        background-color: #fddd56; 
    }