
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

img {
    width: 170px;
    height: 220px;
    margin-top: -30px;
    margin-left: -13px
}

.heading {
    text-align: center;
    font-size: 28px;
    color: #5b3e7b;
    font-weight: 700;
}

.filterTitle {
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
}

.title {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;

    font-weight: 400;
}

h4 {
    font-size: 27px;
    color: #5b3e7b;
    font-weight: 500;
    margin-top: 15px; 
}

#numeroItems {
    padding: 5px 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, .7); 
    font-weight: 500; 
}

.sin-libros {
    font-size: 16px;
    font-weight: 200;
}

.distancia {
    margin-top: 5px;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #5b3e7b;
}


/*FILTROS IDIOMAS Y CATEGORIAS*/
.filtros-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .filtros-list li {
        display: block;
        margin: 10px;
        padding: 10px;
        background-color: #f9eefb;
        border-radius: 8px;
        transition: background-color 0.25s;
        cursor: pointer;
    }

        .filtros-list li.selected {
            background-color: #d09bdf;
        }

        .filtros-list li:hover {
            background-color: #d09bdf;
        }


/*SIDE BAR FILTROS*/
:root {
    --crimson: crimson;
    --black: #333;
    --white: #fff;
    --light-black: #666;
    --light-bg: #eee;
    --dark-bg: rgba(0, 0, 0, .7);
    --border: 1px solid #999;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.btn {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 17px;
    background-color: #5b3e7b;
    color: white;
    text-transform: capitalize;
    text-align: center;
}

    .btn:hover {
        background-color: #d09bdf;
        color: var(--white);
    }

.side-bar {
    height: 100vh;
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
    padding: 20px;
    border-right: var(--border);
    overflow-y: scroll;
    background: #e9e9e9
}

    .side-bar::-webkit-scrollbar {
        width: 5px;
    }

    .side-bar .box {
        border-bottom: var(--border);
        padding: 20px 0;
    }

        .side-bar .box .title {
            margin-bottom: 10px;
            color: var(--black);
        }

    .side-bar .btn {
        margin-left: 5px;
    }

        .side-bar .btn.active {
            background-color: var(--crimson);
            color: var(--white);
        }

    .side-bar .box #search-box {
        border: var(--border);
        padding: 12px;
        text-transform: none;
        color: var(--light-black);
        width: 100%;
        font-size: 17px;
    }

    .side-bar .reset-btn .btn {
        margin-top: 20px;
        width: 100%;
    }

#sideMenuIcon {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    font-size: 20px;
    z-index: 1100;
    box-shadow: var(--box-shadow);
    border: var(--border);
    display: none;
    border-radius: 50%;
}


/*boton de búsqueda*/
.search-box {
    position: relative;
    display: flex;
    align-items: center;
}


#searchInput {
    padding-right: 30px; /* Ajusta el espaciado para evitar solapamiento con el icono */
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999; /* Color del icono */
    cursor: pointer;
}

    /* Estilos adicionales para resaltar el icono al interactuar con él */
    .search-icon:hover {
        color: #333; /* Color del icono al pasar el cursor sobre él */
    }

@media (max-width:1200px) {
    #sideMenuIcon {
        display: block;
    }

        #sideMenuIcon.fa-times {
            top: 0;
            left: 300px;
        }

    .side-bar {
        left: -350px;
    }

        .side-bar.active {
            box-shadow: 0 0 0 100vw var(--dark-bg);
            left: 0;
            z-index: 1000;
        }
}