@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

/*.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner i {
    font-size: 3rem;
    color: #ffffff;
}*/

/*NAVBAR*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    background: purple;
    height: 80px;
    width: 100%;
    margin-top: -55px;
    z-index: 99999; /* Ajusta el z-index para que esté en un nivel superior */
}

/*.enlaceLogo {
    margin-right: 700px;
    display: inline-block;
    line-height: 80px;
    margin: 0 300px;
}*/

.logo {
    height: 100px;
    width: 100px;
}

#navbar-brand {
    display: inline-block;
    padding-top: 0.31rem;
    padding-bottom: 0.31rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    color: #ffffff;
    margin-right: 480px;
    font-family: 'EB Garamond', serif;
    font-size: 30px; 
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a{
            color: #ffffff;
            font-size: 16px;
            padding: 7px 13px;
            border-radius: 3px;
            text-decoration: none; /* Elimina el subrayado en todos los elementos a */
        }

            nav ul li a.active,
            nav ul li a:hover {
                background: #808080;
                transition: .2s;
            }


.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}
    .logout .title {
        display: none;
    }
.sidebar:hover .logout .title {
    display: inline;
}


/*ICONOS*/
.iconoUser {
    color: #ffffff;
    font-size: 23px;
}
.iconoNotificacion {
    color: #ffffff;
    font-size: 18px;
}


.checkbtn {
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; /*se oculta, solo se verá en el móvil*/
}

#check {
    display: none;
}

#notificationCount {
    text-align: center;
    color: #ffffff;
    display: inline-block;
    background-color: orangered;
    line-height: 25px;
    height: 25px;
    margin-left: 3px;
    width: 25px;
    border-radius: 50%;
}

.logout{
    position: absolute; 
    left: 0; 
    bottom: 0; 
}


/*RESPONSIVE TABLET*/
@media (max-width: 952px) {
    .enlaceLogo {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

/*RESPONSIVE MÓVIL*/
@media (max-width: 858px) {
    .checkbtn {
        display: block; /*se muestra*/
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ccc3cf;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

        nav ul li a {
            font-size: 20px;
        }

    li a.active,
    li a:hover {
        background: none;
        color: purple;
    }
    /*solo cuando el check este marcado aparezca*/
    #check:checked ~ ul {
        left: 0;
        margin-top: -20px;
    }
}