body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.containerLogin {
    display: flex;
    height: 100vh;
    width: 100%;
}

.image {
    flex: 50%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/imagenpersona2.jpg');
}

.login-form {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.btn-login {
    margin: 8px 0 2px; 
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #5b3e7b;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .btn-login:hover {
        background-color: #A389AD;
    }

.btn-altaBiblio {
    margin: 8px 0 2px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #fff; /* Fondo blanco */
    color: #5b3e7b; /* Letra negra */
    border: 2px solid #5b3e7b; /* Borde de color #5b3e7b */
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-altaBiblio:hover {
    background-color: #cebfd3;
    color: #fff; /* Cambia el color del texto en el hover */
}

/*ICONOS*/
#icon {
    left: 10px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 15px; 
    color: #706f70; 
}

.logoLogin {
    height: 200px; 
    width: 220px; 
    margin-bottom: -10px; 
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image {
        height: 300px;
        flex: none;
    }

    .login-form {
        flex: none;
        width: 100%;
    }
}
