@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.modal-content, .form-select, .form-control, .form-label {
    font-size: 14px;
}

.form-label {
    font-size: 13px;
}

.modal-title {
    font-size: 18px;
}
/*MODAL*/
.modal-content {
    padding: 0; /* Elimina el padding del contenido para que ocupe todo el ancho */
}

.containerModal {
    margin: 0; /* Elimina el margen del contenedor */
    max-width: 100%; /* Permite que el contenedor ocupe todo el ancho disponible */
    width: 100%;
}

.row {
    margin-right: 0; /* Elimina el margen derecho de las filas */
    margin-left: 0; /* Elimina el margen izquierdo de las filas */
}
#registroModal .modal-dialog, 
#registroBiblioModal .modal-dialog,
#registroLibroModal .modal-dialog,
#registroEventoModal .modal-dialog {
    max-width: 648px;
    width: 90%;
}


#modalReseña .modal-dialog {
    max-width: 600px;
    width: 90%;
}
#modal .modal-dialog { /*modal del calendario*/
    max-width: 500px;
    width: 100%;
}
/*TAMAÑO TEXTAREA*/
#DescripcionBiblio {
    height: 140px;
    min-width: 100%;
}
#descripcionAutor {
    height: 130px;
    min-width: 100%;
}
#descripcionEvento {
    height: 130px;
    min-width: 100%;
}
#descripcionReseña {
    height: 140px;
    min-width: 100%;
}

.nombreAutor{
    height: 100px;
    min-width: 100%;
}

/*IMAGENES*/
#imglector {
    width: 170px;
    height: 150px;
}
#imglibro {
    width: 100px;
    height: 150px;
}
#imgAutor {
    width: 170px;
    height: 150px;
}
#imgBiblio {
    width: 170px;
    height: 150px;
}

.button {
    margin: 25px 0 6px;
}

.modal-header {
    background-color: #0a5483;
    color: #fff;
    border-bottom: none;
}
.moradoHeader {
    background-color: #5b3e7b;
    color: #fff;
    border-bottom: none;
}
.naranjaHeader {
    background-color: #ed9921;
    color: #fff;
    border-bottom: none;
}
.btn-registrar {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #0a5483;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .btn-registrar:hover {
        background-color: #1d86ca;
    }

.btn-registrarMorado {
    margin: 8px 0 2px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #5b3e7b;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .btn-registrarMorado:hover {
        background-color: #A389AD;
    }
.btn-registrarNaranja {
    display: block;
    width: 150px; /* Cambia el ancho del botón según tus necesidades */
    padding: 8px; /* Ajusta el padding según tus necesidades */
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #ed9921;
    color: #fff;
    margin: 0 auto; /* Centra el botón horizontalmente */
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .btn-registrarNaranja:hover {
        background-color: #fddd56;
    }
/*END BIBLIOTECA VS LECTOR*/


.modal-body {
    background-color: #f8f9fa;
}
/*MODAL CLOSE*/
.modal-content .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent; /* Cambio el color de fondo a transparente */
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

    .modal-content .btn-close::after,
    .modal-content .btn-close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        background-color: #fff;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .modal-content .btn-close::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .modal-content .btn-close:hover {
        background-color: #c4c6c7;
        color: #7F27A0;
    }

        .modal-content .btn-close:hover::after,
        .modal-content .btn-close:hover::before {
            background-color: #000;
        }



/*VALIDATIONS*/
.form-floating {
    margin-bottom: 16px;
    position: relative;
}

.form-floating .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #cb2323;
    font-size: 13px;
    display: none;
}

.imagen .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #cb2323;
    font-size: 13px;
    display: none;
}

.invalid .error {
    display: flex;
}

.invalid 
{
    border-color: #cb2323;
}
.invalid textarea {
    border-color: #cb2323;
}
.invalid input {
    border-color: #cb2323;
}
.invalid select {
    border-color: #cb2323;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 14px;
    margin-top: -15px;
}
.error p {
    font-family: 'Poppins', sans-serif;
}

/*SHOW AND HIDE PASSWORD*/
.show-hide {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.show-hide:hover {
    color: #7F27A0;
}


/*ETIQUETAS RECOGIDA*/

.recogidaTextBold {
    font-weight: 700;
    font-size: 17px;
}
.recogidaText {
    font-size: 17px;
}
.devolucionTextBold {
    font-weight: 600; 
    margin-bottom: 3px; 
    margin-left: 3px; 
}


#rowrecogida {
    justify-content: flex-end; /* Alinea la fila hacia el extremo derecho */
}

/*ETIQUETAS CALENDARIO*/
.tituloEvento {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

#fecha {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#hora {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
