@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/*MODAL*/
#registroModal .modal-dialog {
    max-width: 800px;
    width: 90%;
}
#registroBiblioModal .modal-dialog {
    max-width: 688px;
    width: 90%;
}
#registroLibroModal .modal-dialog {
    max-width: 688px;
    width: 90%;
}
/*TAMAÑO TEXTAREA*/
#DescripcionBiblio {
    height: 140px;
    min-width: 100%;
}

#imglector {
    max-width: 130px;
    max-height: 130px;
    width: auto;
    height: auto;
}

.modal-header {
    background-color: #7F27A0;
    color: #fff;
    border-bottom: none;
}

.modal-body {
    background-color: #f8f9fa;
}
/*MODAL CLOSE*/
.modal-content .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #7F27A0;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.modal-content .btn-close::after,
.modal-content .btn-close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-content .btn-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-content .btn-close:hover {
    background-color: #e9ecef;
    color: #7F27A0;
}

    .modal-content .btn-close:hover::after,
    .modal-content .btn-close:hover::before {
        background-color: #7F27A0;
    }


/*VALIDATIONS*/
.form-floating {
    margin-bottom: 16px;
    position: relative;
}

.form-floating .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #cb2323;
    font-size: 13px;
    display: none;
}

.imagen .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #cb2323;
    font-size: 13px;
    display: none;
}

.invalid .error {
    display: flex;
}

.invalid input {
    border-color: #cb2323;
}

.invalid select {
    border-color: #cb2323;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 14px;
    margin-top: -15px;
}
.error p {
    font-family: 'Poppins', sans-serif;
}

/*BUTTON*/
.button {
    margin: 25px 0 6px;
}

.btn-registrar {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #7F27A0;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-registrar:hover {
    background-color: #A389AD;
}

/*SHOW AND HIDE PASSWORD*/
.show-hide {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.show-hide:hover {
    color: #7F27A0;
}
