@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

/* Estilos generales */
.dropdown-item {
    padding: 0.25rem 1rem; /* Ajusta el padding vertical y horizontal según tus preferencias */
    max-height: 115px; /* Ajusta la altura máxima según tus preferencias */
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    margin-left: 0.5rem;
}

/* Estilos específicos para el sistema de notificaciones */
#notificationCount {
    font-size: 0.8rem;
}

#notificationList {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    #notificationList li {
        border-bottom: 1px solid #dee2e6;
        padding: 0.1rem 1rem;
    }

        #notificationList li:last-child {
            border-bottom: none;
        }

    #notificationList img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1rem;
    }
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #f8f9fa;
    color: #212529;
}

.dropdown-item.active {
    background-color: #e9ecef;
    color: #212529;
}

.descripcionNotificacion {
    font-family: 'Open Sans', serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: -25px; 
}
.fecha {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
    margin-top: -60px;
}
